Package: com.imokhles.customsound
Name: CustomSound
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap
Version: 0.0.1
Architecture: iphoneos-arm
Description: customise your device sounds for iOS7.
Maintainer: iMokhles
Author: iMokhles
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CustomSoundPrefs.bundle/iConCydia.png
